<a href="https://colab.research.google.com/github/suryapradeep7012/python_basics/blob/main/exception_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exception Handiling

Exception handling is a programming concept used to manage error or unexpected conditions that occure during the exicution of a programme .it alles the programe to continue running of failgracefully instead of crashing .

## Use Exception Handling?
 - To prevent the entire program from crashing due to runtime errors.
 - To provide informative error messages.
 - To allow recovery or alternative execution paths.

## common terms
 - Exception: An error that occurs during program execution.
 - Try block: Code that might throw an exception.
 - Except block: Code that runs if an exception occurs.
 - Finally block: Code that always runs, whether an exception occurred or not.
 - Raise: Manually trigger an exception.

# The Try-Except Block
### Basis Structrue:

(try: code that might raise an exception

except Esception Type: code to handle the exception)

Example code:

try:

x= int (input("Eneter a number:")) y=10/x

exceptzeroDivisionError:

print("Cannot divide by zero")

In [ ]:
try :
  num=int(input("enter a number:"))
  result = 10/num
except ZeroDivisionError:
  print("error:canote divided by zero.")
except ValueError:
  print("Error: Invalid input. Please enter a number.")
else:
    print("Result is", result)
finally:
    print("Execution complete.")

enter a number:0
error:canote divided by zero.
Execution complete.

In [ ]:
try:
  x= int (input("Eneter a number:"))
  y=10/x
  print(y)
except ZeroDivisionError:
  print("Cannot divide by zero")

Eneter a number:0
Cannot divide by zero

In [ ]:
try:
  x= int (input("Eneter a number:"))
  y=10/x
except ZeroDivisionError as e:
  print(e)

Eneter a number:0
division by zero

In [ ]:
try:
  print(a)
except:
  print("error occuared")

error occuared

In [ ]:
print(a)
print("Hello would")

NameError: name 'a' is not defined

In [ ]:
try:
  print(a)
except:
  print("error occuared")
  print("Hello Would")

error occuared
Hello Would

# what are error
error are issue in the code that prevent it from executing successfully

## types of errors
 - 1.syntax errors
 - 2.runtime errors
 - 3.logical errors

## 1.syntax errors
 - occur whwn the code vilates pythons syntax rules .
 - detected before exicution .
 - Example: Missing colons, unmatched parentheses.

In [ ]:
if 5>3:
  print("this will cause a syntax error")

this will cause a syntax error

# 2. Runtime Errors

 - Occur during program execution
 - Example: Division by zero , accessing undefined

Example Code Division by zero :

x=1=/0 print(x)

Error Message : zero Division Error : division by zero

In [ ]:
x = 1/0
print(x)

ZeroDivisionError: division by zero

# 3. Logical Errors

 - The program runs but gives incorrect results due to logic flaws,
 - Example: incorrect formula or condition.

In [ ]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("Cannot divide by zero!")
except ValueError:
    print("Please enter a valid number!")
else:
    print("Division successful! Result:", result)
finally:
    print("This block always runs.")

Enter a number: 0
Cannot divide by zero!
This block always runs.

incorrect formula for calculating the area of a rectangle

length =5

width= 10

area = length +width # should be length * width

print("Area;",area)

ouput: Area :15

In [ ]:
length =5
width= 10
area = length + width
print("Area:",area)

Area: 15


# What are Execptions?
Exeptions are runtime errros that occur during program execution, disrupting the normal flow of a program

Common Built-in Exceptions:

 - ZeroDivisionErrors
 - ValueError
 - KeyError
 - FileNotFoundError
 - indexError

# Else and Finally Blocks

## Else Block :

In [ ]:
try:
  result =10/2
except ZeroDivisionError:
  print("Error")
else:
  print("Result:", result)

Result: 5.0

## Finally Block:
 - Always runs, regardlesss of whether an exception occurred
 - Useful for cleanup (ef, closing files)

In [ ]:
try:
  file_=open("data.txt","r")
except FileNotFoundError:
  print("file not found!")
finally:
  print("end of program")

file not found!
end of program

In [ ]:
import math
print(math.exp(1000))

OverflowError: math range error

In [ ]:
obj=42
obj.append(5)

AttributeError: 'int' object has no attribute 'append'

In [ ]:
data={"name":"john"}
print(data["age"])

KeyError: 'age'

In [ ]:
my_list=[1,2,3]
print(my_list[5])

IndexError: list index out of range

In [ ]:
print(int("hello"))

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
my_list=[1,2,3]
my_list.remove[5]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
print("5"+5)

TypeError: can only concatenate str (not "int") to str

In [ ]:
open("nonexistnt_file,.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'nonexistnt_file,.txt'

In [ ]:
try:
  open("nonexistnt_file.txt")
except FileNotFoundError as e:
  print(e)

[Errno 2] No such file or directory: 'nonexistnt_file.txt'

# raise exeption
the raise statement is python used to manually trigger an exception whwn a specific error condition occures

In [ ]:
age=int(input("enter your age: "))
if age<0:
  raise ValueError("Age cannot be negative")
else:
  print(f"Your age is {age}")

print("No try except")

enter your age: -1

ValueError: Age cannot be negative

In [ ]:
try:
  age=int(input("enter your age: "))
  if age<0:
    raise ValueError("age cannot be negative")
  else:
    print(f"you age is {age}")
except ValueError as e:
  print(e)
print("try excep finished")

enter your age: -1
age cannot be negative
try excep finished

# custom exceptions
costom exception are user-defined exception in python that help handil domain-specific errors more meaningly and improve code clarity.

In [ ]:
class InvalidAgeException(Exception):
  "raised when the input value is less than 18"
  pass
Number=18
try:
  input_number=int(input("enter a number:"))
  if input_number<Number:
    raise InvalidAgeException
  else:
    print("eligible to vote")
except InvalidAgeException:
  print("execption occurred : invalied age")

enter a number:17
execption occurred : invalied age

# Regular expression

## What is a Regular Expression?
A regular expression (regex) is a sequence of characters that defines a search pattern, primarily used for string searching, matching, and manipulation.

In [ ]:
import re
text="there are 24 apples and 15 oranges"
match=re.search(r'\d+', text)
if match:
  print("first number found:",match.group())
else:
  print("no number found")

first number found: 24

In [ ]:
import re
text="2025 is the year"
match=re.search(r'\d+', text)
if match:
  print("match at start:",match.group())
else:
  print("no match at the begnning")

match at start: 2025

In [ ]:
import re
text="there are 24 apple 15 orange ,and 9 bananas."
numbers=re.search(r'\d+',text)
print("all numbers found:",numbers)

all numbers found: <re.Match object; span=(10, 12), match='24'>

# Metacharacters

In [ ]:
import re

txt = "The rain in Spain"

x = re.findall("[arn]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!

In [ ]:
import re

txt = "That will be 59 dollars"


x = re.findall("\d", txt)
print(x)

['5', '9']

In [ ]:
import re

txt = "hello planet"

x = re.findall("he..o", txt)
print(x)

['hello']

In [ ]:
import re

txt = "hello planet"

x = re.findall("he..o", txt)
if x:
  print("Yes, the string starts with 'hello")
else:
  print("No match")

Yes, the string starts with 'hello

In [ ]:
import re

txt = "hello planet"

x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

In [ ]:
import re
txt="hello planet"
x=re.findall("he.*o", txt)
print(x)

['hello']

In [ ]:
import re
txt = "hello planet"
x=re.findall("he.+o", txt)
print(x)

['hello']

In [ ]:
import re
txt = "hello planet"
x = re.findall("he.?o", txt)
print(x)

[]

In [ ]:
import re

txt = "hello planet"

x = re.findall("he.{2}o", txt)

print(x)

['hello']

In [ ]:
import re
txt = "the rain in spain falls mainly in the plain!"
x = re.findall("falls|stays", txt)
print(x)
if x:
  print("yes, there is at least one match!")
else:
  print("no match")

['falls']
yes, there is at least one match!

# Special Sequences

In [ ]:
import re

txt ="the rain in spain"

x = re.findall("\AThe", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")

[]
No match

In [ ]:
import re
txt = "the rain in spain"
x = re.findall(r"\bain" , txt)
print(x)
if x:
  print("yes, there is at least one match!")
else:
  print("no match")

[]
no match

In [ ]:
import re
txt = "the rain in spain"
x = re.findall(r"ain\b",txt)
print(x)
if x:
  print("yes, there is at least one match!")
  print("no match")

['ain', 'ain']
yes, there is at least one match!
no match

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall(r"\Bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall(r"ain\B", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("\d", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("\D", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("\s", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("\S", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

In [ ]:
import re
txt = "the rain in spain"
x = re.findall("\w", txt)
print(x)
if x:
  print("yes, there is at least one match!")
else:
  print("no match")

['t', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n']
yes, there is at least one match!

In [ ]:
import re
txt = "the rain in spain"
x = re.findall("\w",txt)
print(x)
if x:
  print("yes, there is at least one match!")
else:
  print("no match")

['t', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n']
yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("Spain\Z", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

['Spain']
Yes, there is a match!

# Sets

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("[arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("[a-n]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("[^arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("[0123]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[0-9]", txt)
print(x)
if x:
  print("yes, there is at least one match!")
else:
  print("no match")

['8', '1', '1', '4', '5']
yes, there is at least one match!

In [ ]:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['11', '45']
Yes, there is at least one match!

In [ ]:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[a-zA-Z]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

In [ ]:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[+]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

# The findall() Function

In [ ]:
import re
txt = "the rain in spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [ ]:
import re
txt = "the rain in spain "
x = re.findall("portugal",txt)
print(x)

[]

# The search() Function

In [ ]:
import re
txt = "the rain in spain "
x = re.search("\s",txt)
print("the first white space character in position:",x.start())

the first white space character in position: 3

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

# The split() Function

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

# The sub() Function

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

# Match Object

In [ ]:
import re
txt = "the rain in spain"
x = re.search("ai", txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [ ]:
import re
txt = "The rain in spain"
x = re.search(r"\bS\w+", txt)
if x:
  print(x.span())
else:
  print("no match found. ")

no match found.

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [ ]:
import re
txt = "the rain in spain"
x = re.search(r"\bS\w+", txt)
if x:
  print(x.group())
else:
  print("no match found")

no match found

# GUI (Graphical User Interface) programming

### GUI (Graphical User Interface) programming in Python allows you to create windows, buttons, text boxes, and other interactive elements for desktop applications.